<app-breadcrumb
  [title]="'Package'"
  [items]="['Dashboard']"
  [active_item]="'Package'"
  icon="help-circle"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xl-4" *ngFor="let item of package">
      <div class="card">
        <div style="background: url('{{ item?.package_img }}');" class="card-header b-l-primary no-repeat">
          <h5>{{ item?.title }}</h5>
          <i class="fas fa-trash delete-icon" (click)="stateItem(item)"></i>
        </div>
        <div class="card-body d-flex justify-content-center flex-column align-items-center">
          <p>{{ item?.description }}</p>
          <h4>{{ item?.price }}</h4>
          <button (click)="selectedPackage = item; open(addModal, 'edit')" class="btn btn-primary mt-3">Add</button>
        </div>
      </div>
      
    </div>
  </div>
</div>

<ng-container>
    <ng-template #addModal let-modal>
      <div class="modal-body checkoutModal completed">
        <button
          class="btn-close"
          id="checkoutClose"
          aria-label="Close"
          (click)="proceed()"
        ></button>
        <h5 style="color: aliceblue;" class="modal-title">{{state ? 'Edit Package' : 'Add Package'}}</h5>
        <form [formGroup]="packageForm" class="form">
            <div class="row mt-4">
              <div class="col-lg-12 mt-3">
                <label for="" class="text-light mb-3">Title</label>
                <textarea
                
                  formControlName="title"
                  type="text"
                  placeholder="Title"
                  class="text-dark w-100"
                ></textarea>
                <div
                  *ngIf="
                    packageForm.controls.title.invalid &&
                    (packageForm.controls.title.dirty ||
                      packageForm.controls.title.touched)
                  "
                >
                  <small class="text-danger">Title is required</small>
                </div>
              </div>

              <div class="col-lg-12 mt-3">
                <label for="" class="text-light mb-3">Price</label>
                <textarea
                
                  formControlName="price"
                  type="text"
                  placeholder="Price"
                  class="text-dark w-100"
                ></textarea>
                <div
                  *ngIf="
                    packageForm.controls.price.invalid &&
                    (packageForm.controls.price.dirty ||
                      packageForm.controls.price.touched)
                  "
                >
                  <small class="text-danger">Price is required</small>
                </div>
              </div>

              <div class="col-lg-12 mt-3">
                <label for="" class="text-light mb-3">Type</label>
                <textarea
                
                  formControlName="type"
                  type="text"
                  placeholder="type"
                  class="text-dark w-100"
                ></textarea>
                <div
                  *ngIf="
                    packageForm.controls.type.invalid &&
                    (packageForm.controls.type.dirty ||
                      packageForm.controls.type.touched)
                  "
                >
                  <small class="text-danger">Type is required</small>
                </div>
              </div>

              <div class="col-lg-12 mt-3">
                <label for="" class="text-light mb-3">Description</label>
                <ckeditor [editor]="Editor" formControlName="description"></ckeditor>
                <div
                  *ngIf="
                    packageForm.controls.description.invalid &&
                    (packageForm.controls.description.dirty ||
                      packageForm.controls.description.touched)
                  "
                >
                  <small class="text-danger">Description is required</small>
                </div>
              </div>
            </div>
          </form>
      </div>
      <div class="modal-footer d-flex justify-content-start">
        <button
        class="btn add-btn"
        [disabled]="packageForm.invalid"
        (click)="save(true)"
      >
        Save
      </button>
      <button class="btn cancel-btn" aria-label="Close" (click)="proceed()">
        Cancel
      </button>
      </div>
    </ng-template>
  </ng-container>

