<app-breadcrumb
  [title]="'Inspire Videos'"
  [items]="['Dashboard']"
  [active_item]="'Inspire Videos'"
  icon="video"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 btnPadding">
      <div class="card">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <h5>All Videos</h5>
          <button class="btn btn-primary" (click)="open(addModal, 'add')">
            Add Videos
          </button>
        </div>
        <div class="card-body">
          <div class="row">
            <div
              class="col-sm-6 d-flex justify-content-start align-items-center"
            >
              <div class="searchField mt-1 w-100">
                <input
                  type="text"
                  [(ngModel)]="searchInput"
                  placeholder="Search"
                  class="w-100 white"
                />
                <i class="fa fa-search"></i>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="order-history table-responsive wishlist">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Caption</th>
                      <th scope="col">Thumbnail</th>
                      <th scope="col">Inspire Video</th>
                      <th scope="col">Description</th>  
                      <th scope="col">Status</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container
                      *ngIf="
                        (videos | filter : searchInput)?.length;
                        else noData
                      "
                    >
                      <tr
                        *ngFor="
                          let i = index;
                          let item;
                          of: videos
                            | filter : searchInput
                            | paginate
                              : {
                                  itemsPerPage: 5,
                                  currentPage: duePage,
                                  totalItems: total
                                }
                        "
                      >
                        <th scope="row">{{ item?.id }}</th>
                        <td>{{ item?.caption }}</td>
                        <td>{{ item?.thumbnaill }}</td>
                        <td>{{ item?.inspire_viideo }}</td>



                        <td [innerHTML]="item?.description"></td>
                        <td>
                          <div
                            class="toggle d-flex align-items-center w-100 justify-content-center"
                          >
                            <input
                              (change)="stateItem(item, $event)"
                              class="checkBox"
                              type="checkbox"
                              [checked]="item?.status == '1' ? true : false"
                              [id]="'user' + i"
                            /><label [for]="'user' + i"></label>
                          </div>
                        </td>
                        <td
                          class="d-flex justify-content-center align-items-center"
                        >
                          <button
                            class="actionbtn btn btn-primary"
                            placement="top"
                            ngbTooltip="Edit Video"
                            (click)="
                              selectedVideo = item; open(addModal, 'edit')
                            "
                          >
                            <i class="fa fa-edit mlicon"></i>
                          </button>
                        </td>
                      </tr>
                    </ng-container>
                    <ng-template #noData>
                      <tr *ngIf="videos?.length">
                        <td colspan="7" class="text-center white">
                          No Matching Data Available
                        </td>
                      </tr>
                    </ng-template>
                    <tr *ngIf="!videos?.length">
                      <td class="text-center white" colspan="7">
                        No data available
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div
              class="col-sm-12 d-flex justify-content-end"
              *ngIf="videos?.length"
            >
              <pagination-controls (pageChange)="duePage = $event">
              </pagination-controls>
            </div>
          </div>
        </div>
        <!-- Container-fluid Ends-->
      </div>
    </div>
  </div>
</div>
<!-- Edit User -->
<ng-container>
  <ng-template #addModal let-modal>
    <div class="modal-body checkoutModal completed">
      <button
        class="btn-close"
        id="checkoutClose"
        aria-label="Close"
        (click)="proceed()"
      ></button>
      <h5 style="color: aliceblue" class="modal-title">
        {{ state ? "Edit Video" : "Add Video" }}
      </h5>
      <form [formGroup]="videoForm" class="form">
        <div class="row mt-4">
          <div class="col-lg-12 mt-3">
            <label for="" class="text-light mb-3">Title</label>
            <textarea
              formControlName="title"
              type="text"
              placeholder="Title"
              class="text-dark w-100"
            ></textarea>
            <div
              *ngIf="
                videoForm.controls.title.invalid &&
                (videoForm.controls.title.dirty ||
                  videoForm.controls.title.touched)
              "
            >
              <small class="text-danger">Title is required</small>
            </div>
          </div>
          <div class="col-lg-12 mt-3">
            <label for="" class="text-light mb-3">Description</label>
            <ckeditor
              [editor]="Editor"
              formControlName="description"
            ></ckeditor>
            <div
              *ngIf="
                videoForm.controls.description.invalid &&
                (videoForm.controls.description.dirty ||
                  videoForm.controls.description.touched)
              "
            >
              <small class="text-danger">Description is required</small>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex justify-content-start">
      <button
        class="btn add-btn"
        [disabled]="videoForm.invalid"
        (click)="save(true)"
      >
        Save
      </button>
      <button class="btn cancel-btn" aria-label="Close" (click)="proceed()">
        Cancel
      </button>
    </div>
  </ng-template>
</ng-container>
